@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
  
  a:hover {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  }
  
  pre.animate-title {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
}

/* Removing these problematic classes */
.text-glow, .text-glow-subtle, .ascii-glow, .link-glow:hover {
  text-shadow: none;
} 

